main {
    padding: 20px;
}

.initiative {
    margin-bottom: 40px;
    text-align: center;
}

.initiative h2 {
    color: #cc0000;
    margin-bottom: 10px;
}

.initiative p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.initiative-img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
